<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand fw-bold" href="{% url 'core:index' %}">Mi Negocio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:about' %}">Acerca de mí</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <!-- Barra de búsqueda -->
            <form class="d-flex me-3" method="get" action="{% url 'core:index' %}">
                <input class="form-control rounded-pill me-2" type="search" name="q" placeholder="Buscar productos..." aria-label="Buscar">
                <button class="btn btn-outline-success rounded-pill" type="submit">Buscar</button>
            </form>
            {% endif %}

            <div class="d-flex">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'core:logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">Cerrar sesión</button>
                    </form>
                {% else %}
                    <a href="{% url 'core:login' %}" class="btn btn-outline-primary">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>