{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>negocio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href= {%static "core/assets/favicon.ico"%} />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={%static "core/css/styles.css"%} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        {% include 'componentes/nav.html' %}
        <!-- Header-->
        {% include 'componentes/header.html' %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% block content %}
                {% endblock %}
            </div>
        <!-- Footer-->
         {% include 'componentes/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src= {%static "core/js/scripts.js"%}></script>
    </body>
</html>
